corvus-ebms/src/main/resources/hk/hku/cecid/ebms/spa/service/EbmsMessageSenderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ebms.edi.cecid.hku.hk/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
			elementFormDefault="qualified">
			<element name="RequestElement">
				<complexType>
					<sequence>
						<element name="cpaId" type="string" minOccurs="1"/>
						<element name="service" type="string" minOccurs="1"/>
						<element name="action" type="string" minOccurs="1"/>
						<element name="convId" type="string" minOccurs="1"/>
						<element name="fromPartyId" type="string" minOccurs="1"/>
						<element name="fromPartyType" type="string" minOccurs="1"/>
						<element name="toPartyId" type="string" minOccurs="1"/>
						<element name="toPartyType" type="string" minOccurs="1"/>
						<element name="refToMessageId" type="string" minOccurs="0"/>
						<element name="serviceType" type="string" minOccurs="0"/>
						<element name="payload" type="base64Binary" minOccurs="1" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="ResponseElement">
				<complexType>
					<sequence>
						<element name="message_id" type="string" />						
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="EbmsRequestMsg">
		<part name="EbmsRequestMsg" element="tns:RequestElement" />
	</message>

	<message name="EbmsResponseMsg">
		<part name="EbmsResponseMsg" element="tns:ResponseElement" />
	</message>

	<portType name="EbmsSendPortType">
		<operation name="Request">
			<input message="tns:EbmsRequestMsg" />
			<output message="tns:EbmsResponseMsg" />
		</operation>
	</portType>

	<binding name="EbmsSoapHttpSend" type="tns:EbmsSendPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="Request">
			<soap:operation soapAction="ebmssend" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="EbmsOutbound">
		<documentation>Documentation not available.</documentation>
		<port name="EbmsSend" binding="tns:EbmsSoapHttpSend">
			<soap:address location="http://127.0.0.1:8080/corvus/httpd/ebms/sender" />
		</port>
	</service>
</definitions>