corvus-ebms/src/main/resources/hk/hku/cecid/ebms/spa/service/EbmsMessageReceiverListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ebms.edi.cecid.hku.hk/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
			elementFormDefault="qualified">
			<element name="RequestElement">
				<complexType>
					<sequence>
						<element name="cpaId" type="string" minOccurs="1"/>
						<element name="service" type="string" minOccurs="1"/>
						<element name="action" type="string" minOccurs="1"/>
						<element name="convId" type="string" minOccurs="0"/>
						<element name="fromPartyId" type="string" minOccurs="0"/>
						<element name="fromPartyType" type="string" minOccurs="0"/>
						<element name="toPartyId" type="string" minOccurs="0"/>
						<element name="toPartyType" type="string" minOccurs="0"/>
						<element name="numOfMessages" type="int" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="ResponseElement">
				<complexType>
					<sequence>
						<element name="messageIds">
							<complexType>
								<sequence>
									<element name="messageId" type="string" minOccurs="0" maxOccurs="unbounded" />
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="EbmsRequestMsg">
		<part name="EbmsRequestMsg" element="tns:RequestElement" />
	</message>
	<message name="EbmsResponseMsg">
		<part name="EbmsResponseMsg" element="tns:ResponseElement" />
	</message>

	<portType name="EbmsReceiverList">
		<operation name="Request">
			<input message="tns:EbmsRequestMsg" />
			<output message="tns:EbmsResponseMsg" />
		</operation>
	</portType>

	<binding name="EbmsSoapHttpReceiverList" type="tns:EbmsReceiverList">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="Request">
			<soap:operation soapAction="ebmsreceivelist" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="EbmsMessageReceiverList">
		<documentation>Documentation not available.</documentation>
		<port name="EbmsReceiverList" binding="tns:EbmsSoapHttpReceiverList">
			<soap:address location="http://127.0.0.1:8080/corvus/httpd/ebms/receiver_list" />
		</port>
	</service>
</definitions>