corvus-ebms/src/main/resources/hk/hku/cecid/ebms/spa/service/EbmsMessageHistoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.ebms.edi.cecid.hku.hk/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
			elementFormDefault="qualified">
			<element name="RequestElement">
				<complexType>
					<sequence>
						<element name="messageId" type="string" minOccurs="0"/>
						<element name="messageBox" type="string" minOccurs="0"/>
						<element name="conversationId" type="string" minOccurs="0"/>
						<element name="cpaId" type="string" minOccurs="0"/>
						<element name="service" type="string" minOccurs="0"/>
						<element name="action" type="string" minOccurs="0"/>
						<element name="status" type="string" minOccurs="0"/>
						<element name="limit" type="int" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="ResponseElement">
				<complexType>
					<sequence>
						<element name="messageList" minOccurs="1">
							<complexType>
								<sequence>
									<element name="messageElement" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="messageId" type="string" minOccurs="1" />
												<element name="messageBox" type="string" minOccurs="1" />
											</sequence>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="EbmsRequestMsg">
		<part name="EbmsRequestMsg" element="tns:RequestElement" />
	</message>
	<message name="EbmsResponseMsg">
		<part name="EbmsResponseMsg" element="tns:ResponseElement" /> 
	</message>

	<portType name="EbmsMessageHistory">
		<operation name="Request">
			<input message="tns:EbmsRequestMsg" />
			<output message="tns:EbmsResponseMsg" />
		</operation>
	</portType>

	<binding name="EbmsSoapHttpMessageHistory" type="tns:EbmsMessageHistory">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="Request">
			<soap:operation soapAction="ebmsmsghistory" style="document" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="EbmsMessageHistoryList">
		<documentation>Documentation not available.</documentation>
		<port name="EbmsMessageHistory" binding="tns:EbmsSoapHttpMessageHistory">
			<soap:address location="http://127.0.0.1:8080/corvus/httpd/ebms/msg_history" />
		</port>
	</service>
</definitions>