corvus-as2/src/main/resources/hk/hku/cecid/edi/as2/service/AS2MessageReceiverListService.wsdl

<?xml version="1.0" encoding="utf-8"?> 
<definitions 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"    
	xmlns:p="http://service.as2.edi.cecid.hku.hk/" 
	targetNamespace="http://service.as2.edi.cecid.hku.hk/"
>
<types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
        <xs:complexType name="MessageIDs">
            <xs:sequence>
                <xs:element name="messageId" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>
</types>
<message name="AS2RequestMsg">
  <part name="as2From" type="s:string" /> 
  <part name="as2To" type="s:string" /> 
  <part name="numOfMessages" type="s:int" /> 
</message>
<message name="AS2ResponseMsg">
  <part name="messageIds" type="p:MessageIDs" /> 
</message>
<portType name="AS2ReceiverList">
  <operation name="Request">
    <input message="p:AS2RequestMsg" /> 
    <output message="p:AS2ResponseMsg" /> 
  </operation>
</portType>
<binding name="AS2SoapHttpReceiverList" type="p:AS2ReceiverList">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <operation name="Request">
    <soap:operation soapAction="as2receivelist" style="document" /> 
    <input>
      <soap:body use="literal" /> 
    </input>
    <output>
      <soap:body use="literal" /> 
    </output>
  </operation>
</binding>
<service name="AS2MessageReceiverList">
  <documentation>Documentation not available.</documentation> 
  <port name="AS2ReceiverList" binding="p:AS2SoapHttpReceiverList">
    <soap:address location="http://127.0.0.1:8080/corvus/httpd/as2/receiver_list" /> 
  </port>
</service>
</definitions>