corvus-sfrm/src/main/resources/hk/hku/cecid/edi/sfrm/service/SFRMMessageStatusQueryService.wsdl

<?xml version="1.0" encoding="utf-8"?> 
<definitions 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:p="http://service.ebms.edi.cecid.hku.hk/" 
	targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
>
<types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="MessageInfo">
        <xs:sequence>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="statusDescription" type="xs:string"/>
            <xs:element name="numberOfSegments" type="xs:string"/>
            <xs:element name="numberOfProcessedSegments" type="xs:string"/>
            <xs:element name="sendingSpeed" type="xs:double"/>
            <xs:element name="estimatedTime" type="xs:int"/>
            <xs:element name="lastUpdatedTime" type="xs:string"/>
        </xs:sequence>
	</xs:complexType>
</xs:schema>
</types>
<message name="SFRMRequestMsg">
  <part name="messageId" type="s:string" />
</message>
<message name="SFRMResponseMsg">
  <part name="messageInfo" type="p:MessageInfo" /> 
</message>
<portType name="SFRMStatusQuery">
  <operation name="Request">
    <input message="p:SFRMRequestMsg" /> 
    <output message="p:SFRMResponseMsg" /> 
  </operation>
</portType>
<binding name="SFRMSoapHttpStatusQuery" type="p:SFRMStatusQuery">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <operation name="Request">
    <soap:operation soapAction="SFRMStatusQuery" style="document" /> 
    <input>
      <soap:body use="literal" /> 
    </input>
    <output>
      <soap:body use="literal" /> 
    </output>
  </operation>
</binding>
<service name="SFRMMessageStatusQuery">
  <documentation>Documentation not available.</documentation> 
  <port name="SFRMStatusQuery" binding="p:SFRMSoapHttpStatusQuery">
    <soap:address location="http://127.0.0.1:8080/corvus/httpd/sfrm/status" /> 
  </port>
</service>
</definitions>