corvus-sfrm/src/main/resources/hk/hku/cecid/edi/sfrm/service/SFRMMessageSuspendService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:p="http://service.ebms.edi.cecid.hku.hk/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="SFRMMessageSuspendService" 
	targetNamespace="http://service.ebms.edi.cecid.hku.hk/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.ebms.edi.cecid.hku.hk/">
       <xsd:element name="SFRMSuspendInfo">
       	<xsd:complexType>
       		<xsd:sequence>
       			<xsd:element name="isSuccess" type="xsd:boolean"/>
       			<xsd:element name="totalSegmentNum" type="xsd:integer"/>
       			<xsd:element name="processedSegmentNum" type="xsd:integer"/>
       			<xsd:element name="message" type="xsd:string"/>
       		</xsd:sequence>
       	</xsd:complexType>
       </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SFRMRequestMessage">
    <wsdl:part type="xsd:string" name="messageId"/>
  </wsdl:message>
  <wsdl:message name="SFRMResponseMessage">
    <wsdl:part name="messageInfo" type="p:SFRMSuspendInfo"/>
  </wsdl:message>
  <wsdl:portType name="SFRMMessageSuspendService">
    <wsdl:operation name="Request">
      <wsdl:input message="p:SFRMRequestMessage"/>
      <wsdl:output message="p:SFRMResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SFRMMessageSuspendServiceSOAP" type="p:SFRMMessageSuspendService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Request">
      <soap:operation soapAction="http://service.ebms.edi.cecid.hku.hk/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFRMMessageSuspendService">
    <wsdl:port binding="p:SFRMMessageSuspendServiceSOAP" name="SFRMMessageSuspendServiceSOAP">
      <soap:address location="http://127.0.0.1:8080/corvus/httpd/sfrm/suspend"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
