corvus-ebms-admin/src/main/java/hk/hku/cecid/ebms/service/EbmsMessageStatusQueryService.wsdl

<?xml version="1.0" encoding="utf-8"?> 
<definitions 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:p="http://service.ebms.edi.cecid.hku.hk/" 
	targetNamespace="http://service.ebms.edi.cecid.hku.hk/"
>
<types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="MessageInfo">
        <xs:sequence>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="statusDescription" type="xs:string"/>
            <xs:element name="ackMessageId" type="xs:string"/>
            <xs:element name="ackStatus" type="xs:string"/>
            <xs:element name="ackStatusDescription" type="xs:string"/>
        </xs:sequence>
	</xs:complexType>
</xs:schema>
</types>
<message name="EbmsRequestMsg">
  <part name="messageId" type="s:string" />
</message>
<message name="EbmsResponseMsg">
  <part name="messageInfo" type="p:MessageInfo" /> 
</message>
<portType name="EbmsStatusQuery">
  <operation name="Request">
    <input message="p:EbmsRequestMsg" /> 
    <output message="p:EbmsResponseMsg" /> 
  </operation>
</portType>
<binding name="EbmsSoapHttpStatusQuery" type="p:EbmsStatusQuery">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <operation name="Request">
    <soap:operation soapAction="ebmsStatusQuery" style="document" /> 
    <input>
      <soap:body use="literal" /> 
    </input>
    <output>
      <soap:body use="literal" /> 
    </output>
  </operation>
</binding>
<service name="EbmsMessageStatusQuery">
  <documentation>Documentation not available.</documentation> 
  <port name="EbmsStatusQuery" binding="p:EbmsSoapHttpStatusQuery">
    <soap:address location="http://127.0.0.1:8080/corvus/httpd/ebms/status" /> 
  </port>
</service>
</definitions>